
*{
    list-style-type: none;
}
.sidebar
{
    position: fixed;
    background-color:#204B7B;
    width: 300px;
    height: 100%;
    left: 0;
    z-index: 1;
    /* top:0; */
}

.sidenav li a{
    text-decoration: none;
    color: #E1C509;    
    padding: 0 30px;
}

/* .sidebar li {
    padding-bottom: 20px;
} */

h2{
    text-align: center;
    color: #E1C509;
    padding: 20px;
    border-bottom: 1px solid #E1C509;
    /* background: blue; */
}

.sidebar ul li{
    margin: 25px 0;
}

.sidenav li a:hover{
 color: white;
 margin-left: 10px;
 transition: 0.4s ease;
}

.main
{
    margin-left: 300px;
    padding: 10px;
}

/*Imported Style */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #EFF5F3;
    /* overflow: hidden; */
}

/*Navbar */

.nav-container{
    width: 100%;
    height: 130px;
    background-color: #204B7B;
    margin: 0 auto;
}

.wrapper{
    width: 1100px;
    margin: 0 auto;
    padding-top: 10px;
    margin-bottom: 0px;
}

/*Navbar */


.row{
    margin-top: 0px;
    display: flex;
    align-items:stretch;
    flex-wrap: wrap;
    justify-content: space-around;
   
}

.col-2{
   
    flex-basis: 50%;
    min-width: 300px;
      
}

.col-2 img{
    max-width: 100%;
    padding: 10px 0;
    /* border: 10px solid #0b0463; */
    cursor: pointer;
    border-radius: 20px;
}

.small-container{
    max-width: 1100px;
    margin: 0 auto;
    padding-right: 25px;
    padding-left: 25px;
       
 }

 .single-product{
    padding: 30px 0;
        
}

.single-product .col-2 img{
    padding: 0;
}

.single-product .col-2{
    padding: 20px;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
 }
 
 .small-img-row{
     display:flex;
     justify-content:space-evenly;
     padding-top:10px;
   
 }

 .thumbnail{
     width: 250px;
     height: 250px;
     border-radius: 50%;
     cursor: pointer;
 }

 .link{
     text-decoration: none;
     color: #204B7B;
 }

 .navlink_button {
     text-decoration: none;
     background-color: #E1C509;
     padding: 2px 30px;
     border-radius: 20px;
     margin-left: 20px;
     cursor: pointer;
 }

 .hero-container{
    width: 100%;
    height: 50px;
    background-color: #E1C509;
    margin: 0 auto;
     
 }

 .hero-content{
     width: 1100px;
 }

 h1{
    color:#204B7B;
 }

 /*Table Css */

 table{ 
    border-spacing: 1; 
    border-collapse: collapse; 
    background:white;
    border-radius:6px;
    overflow:hidden;
    max-width:1000px; 
    width:100%;
    margin:0 auto;
    position:relative;
    text-align: center;
    margin-bottom: 20px;
    
 }
    
    
    td,th           { padding-left:8px}
  
    thead tr{ 
      height: 40px;
      background:#204B7B;
      font-size:16px;
      color:#ffffff;
      
    }
    
    tbody tr{ 
        height:30px; 
        border-bottom:1px solid #E3F1D5;
    }

    .table{
        text-align: justify;
        /* border-spacing: 1;  */
        border-collapse: collapse; 
    background:white;
    /* border-radius:6px; */
    /* overflow:hidden; */
    max-width:1000px; 
    width:100%;
    /* margin:0 auto; */
    /* position:relative; */
    }

    .pill{
        background-color: #E1C509;
        border-radius: 75%;
    }

    .divider
    {
        width: 100%;
        height: 50vh;
    }
     

/*Footer */


.footer-container{
    width: 100%;
    height: 40vh;
    background-color: #204B7B;
    margin: 0 auto;
    
}

/*Form CSS */

input,
input[type="radio"] + label,
input[type="checkbox"] + label:before,
select option,
select{
  width: 600px;
  padding: .5em;
  line-height: 1.4;
  background-color: #f9f9f9;
  border: 1px solid #E1C509;
  border-radius: 5px;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  outline: none;
}

.textarea{
    width: 600px;
    padding: .5em;
    background-color: #f9f9f9;
  border: 1px solid #E1C509;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  outline: none;
}
.form-wrapper{
    width: 500px;
    margin: 0 auto;
    padding-top: 10px;
    margin-bottom: 0px;
    
}

.submitbtn{
    background-color: #108821;
    width: 50%;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 25px;
    margin-bottom: 20px;
    color:#f9f9f9;
    outline: none;
    border: none;
    cursor: pointer;
}

.cancel-link {
    text-decoration: none;
    background-color: #E1C509;
    padding: 10px 40px;
    border-radius: 20px;
    margin-left: 20px;
    cursor: pointer;
}

/*Home Page */
.hugebtn{
    margin: 0 auto;
    width: 400px;
    height: 400px;
    margin-top: 300px;
    background-color: #204B7B;
}

.space 
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.special
{
    border-radius: 25px;
}




.accordion
{
    max-width: 500px;
}

.accordion .contentbx
{
    position: relative;
    margin: 10px 20px;
}

.accordion .contentbx .label
{
    position: relative;
    padding: 20px;
    background: #204B7B;
    border-radius: 30px;
    color: white;
    cursor: pointer;
}

.accordion .contentbx .label::before
{
    content: '+';
    position: absolute;
    top: 50%;
    right:20px;
    transform: translateY(-50%);
    font-size: 2em;
}

.hidetable
{
    display: none;
}

.btn{

    background-color:#204B7B;
    outline: none;
    border: none;
    padding: 0;
    font-size: 20px;
    border-radius: 30px;
    display: inline-flex;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    font-size: 16px;
    height: 60px;

}

.button_text,.button_icon
{
 display: inline-flex;
 align-items: center;
 padding: 0 20px;
 color: white;
 height: 100%;
}

.button_icon{
    font-size: 1em;
    background: rgba(0, 0, 0, 0.08);
}

#icon {
    right: 10px;
}

.infotable td
{
    text-align: justify;
    color: red;
    margin-top: 10px;
}

.border{

    border: 20px solid grey;
}

.search input[type="text"]
{
   border: none;
}
  

/*New Alert */

.alert_box{
    margin: 10px 10px 15px 10px;
    padding: 15px;
    color: white;
   border-radius: 10px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  .success{
    background-color: #48A64C;
  }
  .danger{
      background-color: #D81F1F;
  }

  /*Nav Bar New */

  header{
      
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: -o-flex;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 70px;
      background: #204B7B;
      font-family: 'Poppins', sans-serif;
  }

  .logo
  {
      cursor: pointer;
  }

  .nav-area
{
    list-style-type: none;

}

.nav-area li a 
{
    transition: .3s;
    color: #EFF5F3;
    text-decoration: none;
}

.nav-area li{
    display: inline-block;
    padding: 0 15px;
    /* text-transform: uppercase; */
}

.nav-end {
    
    color: #F2F4F7;
    display: flex;
    padding-right: 20px;
    
}

.btn-area{
    cursor: pointer;
    background-color: #E1C509;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 30px;
    color: #204B7B;
    border-radius: 25px;
}

.nav-end-link
{
    color: #F2F4F7;
    text-decoration: none;
}

.nav-area i{
    color: white;
}

/* Notification */

li a .icon_badge
{
    /* position: absolute; */
    border: 1px solid yellow;
    border-radius: 45%;
    padding: 5px;
    align-items: center;
    justify-content: center;
    background-color:yellow;
    color:#204B7B;
}



