body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #204B7B;
    height: 100vh;
    overflow: hidden;
}

.center
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 400px;
    background: white;
    border-radius: 25px;
}

.center h1
{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
     
}

.center div{
    text-decoration: underline;
    }
    

.center p
{
    text-align: center;
    padding:  5px ;
    border-top: 1px solid silver;
    color: #666666
     
}

.center form
{
    padding: 0 40px;
    box-sizing: border-box;
}

form .txt_field
{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.txt_field input{
    width: 100%;
    padding: 0 5px;
    font-size: 16px;
    height: 40px;
    border: none;
    background: none;
    outline: none;
}

.txt_field label 
{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #204B7B;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
}

.txt_field span::before{
    content:'';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #2691d9;
    transition: 0.5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label
{
    top: -5px;
    color: #204B7B;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before
{
    width: 100%;
}

.forget
{
    margin: -5px 0 20px 5px;
    color: #204B7B;
    cursor: pointer;
}

.forget:hover{
    text-decoration: underline;
}

input[type="submit"]
{
    width: 100%;
    background:#204B7B;
    outline: none;
    border: none;
    cursor: pointer;
    height: 40px;
    color: white;
    font-size: 20px;
    border-radius: 25px;
    font-weight: 700;
}

input[type="submit"]:hover{
    transition: 0.5s;
    border-color: #204B7B;
}

.signup
{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}

.signup a{
    text-decoration: none;
}

.signup a:hover{
    text-decoration: underline;
}


/*Alert Box */


